* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'JetBrainMono Nerd Font Mono', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em;
}

window {
}

window#waybar {
    /* use gradient background 3 colors */
    background: linear-gradient(
      90deg,
      rgba(020, 020, 060, 0.8),
      rgba(000, 020, 020, 0.5),
      rgba(020, 020, 060, 0.8)
    );
    color: #FFFFFF;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button.active {
    background-color: rgb(60, 60, 200);
    font-weight: 900;
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window{
    margin: 0;
    padding: 0;
}

#workspaces {
    margin: 0;
    padding: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 12px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-right > widget:last-child > #tray {
    margin-right: 12px;
}

label:focus {
    background-color: #000000;
}

#tray button
{
  padding: 0;
  margin: 0;
}

#workspaces button,
#keyboard-state,
#backlight,
#battery,
#clock,
#cpu,
#custom-media,
#disk,
#idle_inhibitor,
#keyboard-state,
#language,
#memory,
#mode,
#mpd,
#network,
#power-profiles-daemon,
#privacy,
#privacy-item,
#pulseaudio,
#scratchpad,
#temperature,
#wireplumber,
#mpd {
    margin: 0.5rem 0;
    padding: 0.2rem 0.5rem;
    font-size: 1em;
    border-radius: 0.2rem;
    background-color: rgb(40, 40, 50);
    color: rgb(200, 200, 200);
}

#clock {
    background-color: rgb(50, 50, 160);
}

#workspaces button:hover,
#clock:hover,
#battery:hover,
#battery.charging:hover,
#battery.plugged:hover,
#power-profiles-daemon:hover,
#power-profiles-daemon.performance:hover,
#power-profiles-daemon.balanced:hover,
#power-profiles-daemon.power-saver:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#backlight:hover,
#network:hover,
#wireplumber:hover,
#custom-media:hover,
#temperature:hover,
#idle_inhibitor:hover,
#mpd:hover,
#language:hover,
#keyboard-state:hover,
#scratchpad:hover,
#privacy:hover,
#privacy-item:hover,
#pulseaudio:hover,
#network.disconnected:hover,
#wireplumber.muted:hover,
#custom-media.custom-spotify:hover,
#custom-media.custom-vlc:hover,
#temperature.critical:hover,
#idle_inhibitor.activated:hover,
#mpd.disconnected:hover,
#mpd.stopped:hover,
#mpd.paused:hover,
#scratchpad.empty:hover,
#privacy-item.screenshare:hover,
#privacy-item.audio-in:hover,
#privacy-item.audio-out:hover,
#pulseaudio.muted:hover
{
    background-color: rgb(41, 250, 250);
    color: #000000;
}

#power-profiles-daemon.performance,
#power-profiles-daemon.balanced,
#power-profiles-daemon.power-saver,
#network.disconnected,
#wireplumber.muted,
#custom-media.custom-spotify,
#custom-media.custom-vlc,
#temperature.critical,
#idle_inhibitor.activated,
#mpd.disconnected,
#mpd.stopped,
#mpd.paused,
#scratchpad.empty,
#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out,
#pulseaudio.muted
{
    background-color: #f53c3c;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background: rgb(5, 150, 5);
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

